<h2>Upload a Piece</h2>

<%= form_for (Piece.new) do |f| %>

	<p><%= f.label :name %><br />
  <%= f.text_field :name %></p>
  <div> <%= f.file_field :attachment %></div>

  <div><%= f.submit "Upload" %></div>
<% end %>
